.btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  border: 1px solid transparent;
  text-align: center;
  padding: 12px 50px;
  border-radius: 4px;
  line-height: 1.5;
  @include bold();

  &:hover,
  &:focus {
    text-decoration: none;
    color: $primary-color;
  }

  svg {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    min-height: 1px;
    margin-right: 5px;
    margin-top: -2px;
  }

  span + svg {
    margin-right: 0;

    margin-left: 5px;
  }

  &-primary {
    background-color: $primary-color;
    border-color: white;
    color: #ffffff;


    &:hover,
    &:focus {
      background-color: darken($primary-color, 5%);
      border-color: darken($primary-color, 5%);
      color: #ffffff;
    }

    &:disabled,
    &.disabled {
      background-color: $primary-color;
      border-color: $primary-color;
      color: #ffffff;
    }
  }
  &-secondary {
    text-transform: uppercase;
    background-color: #ffffff;
    border-color: $primary-color;
    color: $dark-color;


    &:hover,
    &:focus {
      background-color: darken($primary-color, 5%);
      border-color: darken($primary-color, 5%);
      color: #ffffff;
    }

    &:disabled,
    &.disabled {
      background-color: $primary-color;
      border-color: $primary-color;
      color: #ffffff;
    }
  }

  &-outline-primary {
    background-color: transparent;
    border-color: $primary-color;
    color: $primary-color;

    &:hover,
    &:focus {
      background-color: darken($primary-color, 5%);
      border-color: darken($primary-color, 5%);
      color: #ffffff;
    }

    &:disabled,
    &.disabled {
      background-color: transparent;
      border-color: $primary-color;
      color: $primary-color;
    }

    &.btn-loading:before {
      border-color: rgba(0, 123, 255, 0.75) rgba(0, 123, 255, 0.75) rgba(0, 123, 255, 0.25) rgba(0, 123, 255, 0.25);
    }
  }

  &-loading {
    color: transparent;
    pointer-events: none;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -10px;
      margin-left: -10px;
      height: 20px;
      width: 20px;
      border-width: 3px;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.25);
      border-radius: 100%;
      animation: clockwise .5s linear infinite;
    }
  }

  &-lg {
    font-size: 18px;
    padding: 10px 25px;

    &.btn-loading:before {
      margin-top: -12px;
      margin-left: -12px;
      height: 25px;
      width: 25px;
    }
  }

  &-small {
    font-size: 12px;
    padding: 5px 15px;

    &.btn-loading:before {
      margin-top: -7px;
      margin-left: -7px;
      height: 15px;
      width: 15px;
    }
  }

  &:disabled,
  &.disabled {
    opacity: .65;
    cursor: default;
    pointer-events: none;
  }
}


@keyframes clockwise {
  to {
    transform: rotate(360deg) translatez(0);
  }
}