.form {
  &-field {
    position: relative;
  }

  &-label {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
  }

  &-input {
    width: 100%;
    display: block;
    height: 48px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 0 16px;
    font-size: 18px;
    background: $secondary-color;

    &:focus {
      border-color: $primary-color;
    }

    @include placeholder {
      color: $dark-color;
      //opacity: 0.65;
    }

    &:disabled {
      opacity: 0.65;
      background-color: #e9ecef;

      &:focus {
        border-color: $secondary-color;
      }

      @include placeholder {
        opacity: 1;
      }
    }
  }

  &-error {
    border-color: $danger-color;

    &:focus {
      border-color: $danger-color;
    }
  }

  &-message {
    position: absolute;
    top: 100%;
    margin-top: 2px;
    font-size: 12px;
    color: $danger-color;
    left: 0;
  }
}