.slider {
  
  &__title{
    font-size: 18px;
    line-height: 22px;
    padding-right: 5px;

    @include desktop(){
      font-size: 16px;
    }

    @include small-desktop(){
      font-size: 14px;
    }

    @include no-mobile(){
      @include flex(space-between);
    }
  }
  &__range{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 5px;

    background-color: #dfdfe0;
    border: 1px solid #fff;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 3px solid #286690;
      background-color: #42a9ed;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4CAF50;
      cursor: pointer;
    }
  }

}

