.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-btn-arrow {
  width: 12px;
  height: 12px;
}
.icon-btn-user {
  width: 12px;
  height: 12px;
}
.icon-close {
  width: 512px;
  height: 512px;
}
.icon-file {
  width: 31px;
  height: 36px;
}
.icon-menu {
  width: 32px;
  height: 32px;
}
.icon-popup-close {
  width: 20px;
  height: 20px;
}
