.main{

    &__inner{
        background: url($images_dir + "bg.jpg") no-repeat;
        background-size: cover;
        background-position: bottom center;

        @include desktop(){
            padding-top: 230px;
            padding-bottom: 190px;
        }

        @include small-desktop() {
            padding-top: 170px;
            padding-bottom: 96px;
        }

        @include tablet() {
            padding-top: 140px;
            padding-bottom: 96px;

        }

        @include mobile() {
            padding-top: 130px;
            padding-bottom: 70px;
        }
    }

    &__title{
        max-width: 733px;
        @include r-bold();
        text-transform: uppercase;
        color: $dark-color;


        @include desktop(){
            font-size: 48px;
            line-height: 64px;
        }

        @include small-desktop() {
            font-size: 46px;
            line-height: 61px;
        }

        @include tablet{
            font-size: 36px;
            line-height: 1.2;
        }

        @include no-mobile{
            margin-bottom: 50px;
        }

        @include mobile{
            font-size: 30px;
            line-height: 1.2;
            margin-bottom: 35px;
        }





        span{
            color: $primary-color;
        }
    }

    &__subtitle{
        color: $text-color;
        @include bold();

        @include no-mobile(){
            margin-bottom: 6px;
            font-size: 20px;
        }

        @include mobile(){
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 1;
        }
    }

    &__item{
        color: $text-color;
        @include r-regular();
        margin-bottom: 14px;


        @include no-mobile(){
            font-size: 19px;
        }

        @include mobile(){
            font-size: 16px;
            line-height: 1;
        }

        &:last-child{
            margin-bottom: 0;
        }
    }

    &__action{
        @include no-mobile(){
            margin-top: 74px;
            display: flex;
        }

        @include mobile(){
            margin-top: 36px;
        }
    }
    .btn{
        min-width: 184px;
        font-size: 13px;
        text-transform: uppercase;

        @include no-mobile(){
            margin-right: 27px;
        }
        @include mobile(){
            margin-bottom: 18px;
            display: block;
        }

        &:last-child{
            @include no-mobile(){
                margin-right: 0;
            }

            @include mobile(){
                margin-bottom: 0;
            }
        }
    }
}