.nav{
    &__list{
        display: flex;

        @include desktop(){
            margin: 0 -28px;;
        }

        @include small-desktop() {
            margin: 0 -28px;
        }

        @include tablet() {
            margin: 0 -16px;
        }
    }

    &__item{
        @include desktop(){
            padding: 0 28px;
        }

        @include small-desktop() {
            padding: 0 28px;
        }

        @include tablet-and-phone() {
            padding: 0 16px
        }
    }

    &__link{
        color: #ffffff;
        text-transform: uppercase;
        @include r-bold();
        font-size: 14px;
        &:focus,
        &:hover{
            color: $primary-color;
        }

    }
}