.order {
    &__inner {
        padding-bottom: 147px;
        color: #ffffff;
        background: url($images_dir + 'order.jpg') no-repeat;
        background-size: cover;

        @include no-mobile(){
            padding-top: 120px;
            padding-bottom: 147px;
        }

        @include mobile(){
            padding-bottom: 80px;
            padding-top: 80px;
        }
    }
    &__title {
        text-align: center;
        text-transform: uppercase;
        @include r-bold();
        margin-bottom: 20px;

        @include no-mobile(){
            font-size: 36px;
        }

        @include mobile(){
            font-size: 28px;
        }
        span {
            color: $primary-color;
        }
    }
    &__descr {
        text-align: center;
        font-size: 18px;
        @include regular();
    }
    &__items {
        @include flex();
        @include desktop(){
            margin: 77px -32px 0 -60px;
        }
        @include small-desktop(){
            margin: 77px  0;
        }
        @include tablet(){
            align-items: flex-start;
        }
        @include mobile(){
            margin-left: -10px;
            margin-right: -10px;
            flex-wrap: wrap;
            margin-bottom: -20px;
        }

    }
    &__item {

        flex-shrink: 0;
        padding: 0 10px;
        position: relative;

        @include no-mobile(){
            width: 20%;
        }
        @include mobile(){
            width: 50%;
            margin-bottom: 20px;
        }
        &:after {
            position: absolute;
            content: "";
            background: url($images_dir + 'line.svg') no-repeat;
            display: block;
            height: 8px;
            right: -20%;

            @include desktop(){
                width: 102px;
                top: 29%;
            }

            @include small-desktop(){
                width: 39%;
                top: 33%;
            }

        }
        &:last-child:after {
            content: none;
        }
    }

    &__form {


        @include no-mobile(){
            margin-top: 76px;
        }
        @include mobile(){
            padding-top: 50px;
        }
    }

    &__fields{
        margin-bottom: 48px;
    }
    .step {
        &__icon {
            border: 5px solid #286690;
            background-color: #3e9cdc;
            border-radius: 50%;
            @include flex(center);
            margin: 0 auto 15px;

            @include desktop(){
                width: 100px;
                height: 100px;
            }

            @include small-desktop(){
                width: 100px;
                height: 100px;
            }
            @include tablet(){
                width: 80px;
                height: 80px;
            }
            @include mobile(){
                width: 80px;
                height: 80px;
            }

        }
        &__text {
            @include regular();
            text-align: center;

            line-height: 20px;

            @include desktop(){
                font-size: 16px;
            }

            @include small-desktop(){
                font-size: 16px;
            }

            @include tablet-and-phone(){
                font-size: 14px;
            }

            span {
                @include desktop(){
                    display: block;
                }

                @include small-desktop(){
                    display: block;
                }

            }
        }

        &__svg{

        }
    }

    .icon {
        &-search {

            @include desktop(){
                width: 34px;
                height: 35px;
            }

            @include small-desktop(){
                width: 34px;
                height: 35px;
            }

            @include tablet(){
                width: 26px;
                height: 26px;
            }

            @include mobile(){
                width: 26px;
                height: 26px;
            }
        }
        &-percent {

            @include desktop(){
                width: 32px;
                height: 32px;
            }

            @include small-desktop(){
                width: 32px;
                height: 32px;
            }

            @include tablet(){
                width: 20px;
                height: 20px;
            }

            @include mobile(){
                width: 20px;
                height: 20px;
            }
        }

        &-file-add {


            @include desktop(){
                width: 36px;
                height: 41px;
                transform: translate(-2px, -4px);
            }

            @include small-desktop(){
                width: 36px;
                height: 41px;
                transform: translate(-2px, -4px);
            }

            @include tablet(){
                width: 26px;
                height: 31px;
                transform: translate(-1px, -2px);
            }

            @include mobile(){
                width: 26px;
                height: 31px;
                transform: translate(-1px, -2px);
            }

        }
        &-mail {
            width: 37px;
            height: 37px;
        }
        &-money {
            width: 40px;
            height: 32px;
        }
        &-file {
            transform: translateX(-14px);
            width: 18px;
            height: 20px;
        }
    }

    .btn{
        &-secondary{
            width: 100%;
        }
    }
    .form {
        &__row {

            margin-bottom: -27px;
            @include flex();
            flex-wrap: wrap;

            @include no-mobile(){
                margin-left: -15px;
                margin-right: -15px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
        &__col {

            @include no-mobile(){
                padding: 0 15px 27px;
            }

            @include mobile(){
                margin-bottom: 27px;
            }
        }

        ._col {
            &3 {

                @include desktop(){
                    width: 33%;
                }

                @include small-desktop(){
                    width: 33%;
                }
                @include tablet {
                    width: 50%;
                }
                @include mobile {
                    width: 100%;
                }
            }
            &6 {

                @include desktop(){
                    width: 66%;
                }

                @include small-desktop(){
                    width: 66%;
                }

                @include tablet {
                    width: 50%;
                }

                @include mobile {
                    width: 100%;
                }
            }
        }


        &__action{
            @include flex();
        }

        &__btn{
            margin: auto;
            text-transform: uppercase;

            @include desktop(){
                min-width: 370px;
            }
            @include no-mobile(){
                min-width: 370px;
            }
        }

        &__file{
            position: relative;
            .form-field{
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                opacity: 0;
            }

            .form-input{
                cursor: pointer;
            }
        }
    }

}