$fonts_dir: '../fonts/';
// 100 - Thin
// 200 - Extra-Light
// 300 - Light
// 400 - Regular
// 500 - Medium
// 600 - Semi-bold
// 700 - Bold
// 800 - Extra-bold
// 900 - Black

@mixin font($family, $name, $weight:normal, $style:normal) {
  $font_file_path: $fonts_dir + $family;

  @font-face {
    font-family: $name;
    src: url($font_file_path + '.woff') format('woff'),
    url($font_file_path + '.woff2') format('woff2');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin font-mixin($font_name, $weight:normal, $style:normal) {
  font-family: "#{$font_name}", 'Arial', 'Helvetica', 'Tahoma', sans-serif;
  font-weight: $weight;
  font-style: $style;
}

@include font("Raleway/Thin", "Raleway", 100);
@mixin r-thin() {
  @include font-mixin("Raleway", 100);
}

@include font("Raleway/ExtraLight", "Raleway", 200);
@mixin r-extra-light() {
  @include font-mixin("Raleway", 200);
}

@include font("Raleway/Light", "Raleway", 300);
@mixin r-light() {
  @include font-mixin("Raleway", 300);
}

@include font("Raleway/Regular", "Raleway", 400);
@mixin r-regular() {
  @include font-mixin("Raleway", 400);
}

@include font("Raleway/Medium", "Raleway", 500);
@mixin r-medium() {
  @include font-mixin("Raleway", 500);
}


@include font("Raleway/SemiBold", "Raleway", 600);
@mixin r-semi-bold() {
  @include font-mixin("Raleway", 600);
}

@include font("Raleway/Bold", "Raleway", 700);
@mixin r-bold() {
  @include font-mixin("Raleway", 700);
}


@include font("Raleway/ExtraBold", "Raleway", 800);
@mixin r-extra-bold() {
  @include font-mixin("Raleway", 800);
}


@include font("Raleway/Black", "Raleway", 900);
@mixin r-black() {
  @include font-mixin("Raleway", 900);
}

/******************************************************/

@include font("Lato/Thin", "Lato", 100);
@mixin thin() {
  @include font-mixin("Lato" );
  //border: 1px solid #000;
}


@include font("Lato/Light", "Lato", 300);
@mixin light() {
  @include font-mixin("Lato", 300);
}

@include font("Lato/Regular", "Lato", 400);
@mixin regular() {
  @include font-mixin("Lato", 400);
}

//@include font("Lato/Medium", "Lato", 500);
//@mixin medium() {
//  @include font-mixin("Lato", 500);
//}


@include font("Lato/Bold", "Lato", 700);
@mixin bold() {
  @include font-mixin("Lato", 700);
}

@include font("Lato/Black", "Lato", 900);
@mixin black() {
  @include font-mixin("Lato", 900);
}

