// Colors
$primary-color: #42a9ed;
$secondary-color: #dfdfe0;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$light-color: #17a2b8;
$dark-color: #272733;
$text-color: #2a2b30;
$bg-color: #10101d;



//css
$border-radius: 4px;

