<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<!-- build:scripts -->
<script src="support-libs.js"></script>
<script src="helpers/dropdown.js"></script>
<script src="libs/jquery.sidr.min.js"></script>

<script src="ui.js"></script>
<!-- endbuild -->

</body>
</html>
