</div>

<footer class="footer">
    <div class="container footer__inner">
        <div class="footer__wrap">
            <p class="footer__copy">&copy; 2018 <span>«LoremIpsum.net» </span> Все права защищены.</p>
            <div class="footer__pay pay">
                <a href="#" class="pay__item link">
                    <div class="link__icon"><img src="../content/images/footer/qiwi.png"></div>
                    <p class="link__text">Qiwi wallet</p>
                </a>
                <a href="#" class="pay__item link">
                    <div class="link__icon"> <img src="../content/images/footer/ya.png"> </div>
                    <div class="link__text">Yandex Money</div>
                </a>
                <a href="#" class="pay__item link">
                    <div class="link__icon"><img src="../content/images/footer/web.png"></div>
                    <p class="link__text">Web Money</p>
                </a>

            </div>
            <div class="footer__contacts contacts">
                <a href="mailto:info@ipsum228.com" class="contacts__item link">
                    <div class="link__icon"><img src="../content/images/footer/mail.png"></div>
                    <p class="link__text">info@ipsum228.com</p>
                </a>
                <a href="#" class="contacts__item link">
                    <div class="link__icon"><img src="../content/images/footer/vk.png"></div>
                    <p class="link__text">Мы вконтакте</p>
                </a>
            </div>
        </div>
    </div>
</footer>

</div>
</div>

{{> layout/bottom}}