<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
    <meta name="keywords" content="">
  <meta name="description" content="">

    <meta name="viewport" data-hid="viewport" content="width=device-width, height=device-height,user-scalable=no, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0"><meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <link rel="apple-touch-icon" sizes="180x180" href="../static/images/meta/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/images/meta/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/images/meta/favicon-16x16.png">
  <link rel="manifest" href="../static/images/meta/site.webmanifest">
  <link rel="mask-icon" href="../static/images/meta/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="../static/images/meta/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-config" content="../static/images/meta/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  {{# if ui}}
    <link rel="stylesheet" href="../static/css/page-ui.css">
  {{/if}}

  <link rel="stylesheet" href="../static/css/main.css">


  <title>Заголовок сайта</title>
</head>

<body {{#if body_class}}class="{{body_class}}"{{/if}}>