{{> layout/head}}
<div class="wrapper">
  <div class="wrapper__wrap">
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <div class="header__logo logo">
            <a href="#" class="logo__link">LoremIpsum.<span>Net</span></a>
          </div>
          <div class="header__right">
              <a id="sidr-menu" class="header__sidr" href="#sidr">
                  {{> ui/svg name='menu'}}
              </a>
            <div class="header__nav">
              {{>blocks/nav}}
            </div>
          </div>
        </div>

      </div>
    </header>

    <div class="wrapper__inner">


