<div class="sidr top" id="sidr">
    <div class="container">
        <div class="sidr__head">
            <div class="header__logo logo">
                <a href="#" class="logo__link">LoremIpsum.<span>Net</span></a>
            </div>
            <a class="sidr__close js-sidr-close">
                {{> ui/svg name="close"}}
            </a>
        </div>
        <div class="sidr__body">
            {{> blocks/nav}}
        </div>
    </div>
</div>