@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin align($horizontal: true, $vertical: true, $transform: null) {
  position: absolute;

  @if ($horizontal) {
    left: 50%;
  }
  @if ($vertical) {
    top: 50%;
  }

  @if ($horizontal and $vertical) {
    transform: translate(-50%, -50%), $transform;
  } @else if ($horizontal) {
    transform: translate(-50%, 0), $transform;
  } @else {
    transform: translate(0, -50%), $transform;
  }
}


@mixin fill($digit: 0) {
  position: absolute;
  top: $digit;
  bottom: $digit;
  left: $digit;
  right: $digit;
}


@mixin flex($justify: flex-start) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}


@mixin desktop() {
  @media(min-width: $desktop) {
    @content;
  }
}

@mixin small-desktop() {
  @media(min-width: $small-desktop ) and (max-width: $desktop - 1) {
    @content;
  }
}

@mixin tablet() {
  @media(min-width: $tabletMedia) and (max-width: $small-desktop - 1) {
    @content;
  }
}

@mixin mobile() {
  @media (max-width: $tabletMedia - 1) {
    @content;
  }
}

@mixin no-mobile {
  @media (min-width: $tabletMedia) {
    @content;
  }
}

@mixin tablet-and-phone() {
  @media(max-width: $small-desktop - 1) {
    @content;
  }
}