.ui {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 10px;

  .btn-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -5px -5px 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &__item {
      padding: 5px;
    }
  }

  &__title {
    text-align: center;
    padding: 30px 0;
    flex-shrink: 0;
  }

  &__container {
    flex-shrink: 0;
    flex-grow: 1;
    background-color: #fcfcfc;
    margin: 0 -10px;
    display: flex;
  }

  &__aside {
    flex-basis: 25%;
    padding: 0 10px;
    background-color: #f9f9f9;

    .aside {
      &__inner {
        padding: 40px 0;
      }

      &__nav {
        ._link {
          display: block;
          font-size: 20px;
          padding: 10px 30px;
          width: 100%;
          text-align: left;

          &:hover {
            background-color: darken(#f9f9f9, 5%);
          }
        }
      }
    }
  }

  &__main {
    flex-basis: 75%;
    padding: 0 10px;

    .main {
      &__section {
        padding: 30px 20px;
        border-bottom: 1px solid darken(#f5f5f5, 5%);

        ._body {
          margin-top: 20px;

          .row + .row {
            margin-top: 20px;
          }
        }
      }
    }
  }

  &__colors {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;

    ._item {
      width: 100px;
      height: 100px;
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.25), 0 0 1px 0 rgba(0, 0, 0, 0.25);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}