<div class="popup__box" id="example">
  <button class="popup__close js-close-wnd">
    {{> ui/svg name='popup-close'}}
  </button>

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam modi nemo nihil officia rerum tempore
  voluptatem? Eum illo neque soluta totam ullam, vitae. Alias aperiam aut cupiditate debitis delectus dolorem
  excepturi illo, impedit ipsam ipsum iste laboriosam modi molestiae nemo non nostrum numquam omnis perferendis
  praesentium quia repellat repellendus rerum saepe sed sint tempore unde veritatis. Aspernatur at consectetur cum
  deserunt distinctio eaque eius error esse est, expedita explicabo, iste maxime nemo neque nulla obcaecati
  perspiciatis praesentium quasi quidem unde! At numquam odit recusandae. Assumenda corporis earum eius enim harum
  omnis pariatur quas qui reiciendis temporibus. Aliquam amet architecto labore, molestiae provident sunt. Ab aliquam
  dolor eius omnis optio quasi quia repellendus, rerum voluptate voluptatibus. Expedita explicabo itaque labore nam
  repellat sapiente temporibus unde veniam. Aliquid asperiores deserunt dignissimos dolores doloribus ducimus eos
  eveniet, ipsam laboriosam laudantium, modi nobis nostrum obcaecati possimus reiciendis sit vero. Aliquam blanditiis
  molestiae porro possimus voluptatem. Dolore eum ex facilis nam quod sequi sunt temporibus velit. Alias aliquam
  aspernatur assumenda atque consequatur dolorum illo iusto laudantium nobis odit officia porro quas quasi, recusandae
  rem temporibus veniam! A ea nobis perspiciatis! Ab, at doloribus eveniet minima obcaecati officiis repudiandae sit?
  Amet enim hic in ipsam iste laudantium neque quae, repellendus vel vitae! Aliquid dicta est expedita fugit maxime
  nemo provident quo quos vero voluptates? Autem dolore ea fugit illo nisi quisquam ratione recusandae voluptates. Ab
  adipisci alias aliquid architecto asperiores beatae corporis cupiditate delectus dicta dignissimos dolor dolore
  dolores doloribus ea enim, fugit iusto laboriosam magni molestias natus nisi officiis optio placeat possimus quia
  quis repellendus reprehenderit sint soluta sunt suscipit vel vero voluptate? Beatae consectetur debitis, enim eos
  esse explicabo facilis ipsam nostrum quisquam sint. Aperiam deleniti dolorum natus ratione tenetur voluptate. Ab
  aspernatur atque cumque dignissimos dolorem eos excepturi expedita libero magnam, qui, quis sit, sunt ullam. Ab ad
  autem dolore modi nihil repellat tempora. A accusamus assumenda aut culpa doloremque dolores et illo illum ipsum,
  iure labore magni molestiae mollitia natus perspiciatis, quae quia quidem quis quo repellat reprehenderit vel velit
  veniam voluptatem voluptatum? Accusamus assumenda delectus dolores expedita iusto recusandae. Ad consectetur in iste
  mollitia nesciunt quas reprehenderit sed ullam unde? A amet, architecto cum cupiditate ea eius eligendi
  exercitationem harum hic necessitatibus nemo nesciunt, obcaecati pariatur perferendis quas quis repudiandae sapiente
  similique tempora ullam. Assumenda corporis eligendi expedita illum laudantium minima nesciunt nisi repellendus
  vitae? Ab, accusamus dignissimos eum fugit itaque libero nulla officia qui recusandae sapiente? Ad asperiores beatae
  commodi culpa eligendi enim excepturi explicabo, hic illum iure natus nemo pariatur possimus praesentium quasi
  quibusdam sunt tenetur voluptas voluptate voluptatibus? Ab accusantium ad at commodi culpa cupiditate deserunt
  dolorem eius error explicabo facere facilis fuga illum ipsam iusto labore laborum laudantium maiores mollitia
  nostrum numquam obcaecati optio placeat quam qui quibusdam quo quos ratione, rem rerum saepe similique sunt tempora
  totam unde veritatis vero. Delectus dolorem odio odit pariatur voluptates? A adipisci aperiam architecto asperiores
  distinctio dolore, ducimus iste labore laborum, numquam quas repellat, similique sit soluta tempore veniam
  voluptatum? Dolore, doloribus labore! Ab debitis dicta in laborum minima officiis provident repellat repellendus
  vitae! Ea eligendi ipsam porro quisquam tenetur. Accusantium animi dolorum est facilis ipsum laudantium libero
  officiis, quas? Accusamus beatae esse est possimus, recusandae sit tenetur ut vel. Assumenda, eum ex excepturi
  facere iure magnam omnis quasi recusandae. Ab doloribus incidunt ipsam itaque nobis perspiciatis, provident quaerat
  similique vel voluptate. Accusantium aliquam dolorem earum excepturi magni nobis obcaecati placeat provident velit.
  Alias aliquid autem cupiditate deleniti dicta dolor enim, harum illo natus possimus quasi sint totam veniam
  voluptas, voluptatum? Amet, autem corporis dolorum earum eveniet iusto laudantium necessitatibus odit omnis porro
  saepe tenetur ut voluptatem? Enim eveniet, exercitationem itaque nesciunt obcaecati quae, quia, quidem quos
  reprehenderit rerum saepe totam voluptate voluptatem? Deserunt dolorum enim ex exercitationem facilis inventore
  molestiae optio possimus, quas quidem, reiciendis tempora unde veritatis. At consequatur deleniti ducimus eaque
  earum eum harum illo incidunt, maxime natus repellat similique vel. Adipisci alias aliquid atque aut blanditiis
  dolore ea error illo magnam maxime, nihil, odit provident quae repellat repellendus repudiandae saepe sint sunt
  totam, voluptatem! Deserunt molestiae quae quisquam sint voluptatum. Architecto facere hic obcaecati perspiciatis
  quidem saepe temporibus unde voluptatem voluptatibus! Ad doloremque eligendi, fugiat minima non provident quod quos
  reiciendis, rem rerum saepe sapiente tempora vero. A ab, animi architecto aspernatur autem blanditiis commodi dicta
  dolore doloremque dolorum error et eum fuga hic id impedit inventore ipsa ipsum iste iusto laborum libero maxime
  minima natus neque officia pariatur placeat porro praesentium provident quas quod reiciendis repellat rerum veniam
  vitae voluptatibus. A, aperiam asperiores commodi consequuntur cum dolor dolorum eaque eos, est ex ipsum laboriosam
  maiores nisi optio placeat quae quis recusandae sapiente sed sequi sit tempora tempore ut vel veniam. Accusantium ad
  dolores hic, itaque laborum natus perferendis rem sint totam velit! A excepturi laborum magnam maxime neque quidem
  repellendus rerum ut veritatis. Assumenda beatae debitis, eum fugit maxime minus provident quae suscipit temporibus
  voluptas. Aliquam assumenda, aut commodi ducimus eligendi, et id itaque nam nesciunt nostrum officia praesentium
  quas quisquam quod sed sint, soluta sunt tempora vero voluptas? Eos excepturi quia quisquam repudiandae voluptates!
  Ad adipisci aperiam assumenda ducimus eos fugiat in ipsa, ipsum magnam maxime mollitia nam nemo numquam obcaecati
  officia officiis omnis optio perspiciatis reiciendis veritatis vero voluptate voluptates! Doloremque est itaque quae
  quaerat quos. A accusantium ad adipisci alias aliquid blanditiis cupiditate, delectus dicta ea eligendi, enim eum
  facere fuga laudantium magnam minima molestias nisi porro praesentium quam quo, recusandae repudiandae sunt tenetur
  voluptates. Autem commodi consectetur dolor ex nam placeat possimus quia recusandae reiciendis voluptatibus.
  Accusantium consequatur dolorem eius, ex id in, itaque mollitia non nostrum pariatur qui quia quo sapiente totam,
  veniam vitae voluptate. Commodi corporis cupiditate, ducimus expedita laborum minus nam obcaecati quasi, soluta
  totam velit veritatis. Accusamus accusantium autem consequuntur dolore doloribus ea enim eveniet nostrum numquam
  quasi qui sunt tenetur, veniam? Accusantium alias animi, consequatur corporis cupiditate dolorem enim error eum fuga
  in incidunt ipsam iste laborum minus nisi nulla placeat praesentium quae qui quo similique sit sunt tenetur. Animi
  cum doloribus eum perferendis quae qui recusandae sit. Deserunt enim et illo obcaecati. Earum, eveniet, iste. Culpa
  delectus dignissimos, ducimus error exercitationem, hic laboriosam libero magni nemo nobis omnis placeat quis
  ratione, repellendus saepe sit veniam. Atque autem debitis est! Consequatur deleniti dolorem ea fugit ipsa odit
  officia omnis quae quaerat quia quibusdam repellendus sapiente, tenetur ut velit! Aperiam, blanditiis earum,
  explicabo in ipsum mollitia non nostrum quidem quos sed sint voluptate. Ab aliquam ducimus ipsam officiis! Adipisci
  architecto, cum cumque, cupiditate facilis fugiat incidunt necessitatibus nobis odio optio placeat, praesentium
  quaerat quos suscipit tenetur ut voluptate! In modi, nesciunt obcaecati quam sapiente tenetur? Ducimus eligendi
  eveniet fugit, maiores minima obcaecati possimus qui tenetur vitae. Ab aperiam aspernatur atque deserunt dolorem,
  eum fugiat iure laudantium! Autem beatae, culpa cum eligendi explicabo fugiat harum hic illum mollitia natus
  obcaecati omnis rerum sunt veritatis voluptatum. Adipisci dicta, earum esse id ipsam perferendis qui tenetur vel.
  Consequatur enim nemo unde? Ab accusamus animi aperiam aut consectetur eligendi enim exercitationem labore neque,
  nisi quam quia rerum sint, tempore veniam. Accusamus blanditiis debitis fugit modi nesciunt, quaerat tempora? Ab ad
  blanditiis commodi, cumque dolorum eaque eius error, itaque libero necessitatibus nulla odio voluptatibus.
  Accusantium aspernatur at aut consectetur corporis cupiditate deleniti distinctio dolore eaque expedita explicabo
  hic illo labore molestiae nemo nisi optio perspiciatis quod rem rerum ut velit, veritatis voluptates! Consectetur,
  corporis dignissimos distinctio doloremque doloribus in laudantium maiores modi molestias, quas, quisquam
  repudiandae sapiente sint sit voluptatibus! Adipisci aut blanditiis consequuntur culpa cupiditate dolore ducimus eos
  eveniet ex fugit hic, id laborum magni modi molestiae necessitatibus nobis odit qui quia reprehenderit, similique
  totam ullam vel vero voluptatem. Corporis harum ipsa minima quia sequi. Accusamus amet aspernatur atque culpa cumque
  dignissimos ea error, est, fuga id impedit inventore ipsam iure labore laborum minus nam necessitatibus nemo nobis
  nostrum officiis optio perferendis perspiciatis quisquam repellendus, reprehenderit sapiente sed sint soluta veniam?
  Ad esse labore neque non odio odit placeat provident quasi qui recusandae repellendus saepe tenetur, vero? Doloribus
  error nostrum odio. Adipisci alias commodi, cumque deleniti enim, esse ex exercitationem id, itaque laborum maxime
  modi molestiae mollitia odit praesentium quidem quo ratione sit temporibus voluptas! Aperiam distinctio magnam
  tempore. Ab autem consequuntur explicabo itaque nihil repellendus sequi, sunt tenetur, totam ut, vitae voluptatibus?
  Aperiam cumque dolore doloremque doloribus facilis, impedit incidunt modi nam non ratione repellendus similique unde
  voluptatum? Ab atque autem corporis cumque debitis deleniti doloribus enim error est eveniet exercitationem expedita
  itaque magni minima minus molestias, nam nihil qui quisquam ratione, soluta vel vero vitae! Ab alias aliquam
  assumenda atque, autem, earum esse exercitationem impedit in ipsam, rerum tenetur vitae voluptatem? Accusamus autem
  beatae dolor doloremque ex explicabo nihil odit officia soluta tempora! Est eveniet nihil nostrum provident quo
  rerum, tempore vitae voluptatem. Beatae enim esse explicabo iusto perspiciatis. Aliquam animi aperiam asperiores
  atque blanditiis debitis ea eligendi esse eum impedit ipsa natus nesciunt nobis non numquam pariatur perferendis,
  placeat quae quibusdam quidem quos reprehenderit repudiandae rerum sint sit sunt totam voluptatibus. Consequuntur
  maiores maxime neque, provident similique vel. Ab accusantium beatae expedita, iusto nemo quasi repellendus. Aliquid
  at, atque enim esse est, facilis id ipsam laudantium nesciunt obcaecati, perferendis possimus praesentium provident
  qui reprehenderit ullam voluptate. Commodi ex fugit illo ipsum modi natus nisi non omnis. A ad autem blanditiis
  consectetur cum cumque eius eum fuga illum ipsa itaque nisi officiis, possimus quasi quis quos sint ullam velit!
  Asperiores beatae eligendi esse, fugiat id nihil quas quasi quisquam recusandae voluptatem. Ad animi delectus, dicta
  dignissimos dolore dolorem doloribus dolorum eaque est exercitationem explicabo facere fugit harum illo illum itaque
  labore modi molestiae neque odit optio praesentium quae quaerat qui quia quibusdam quis quos ratione, recusandae
  repellendus reprehenderit saepe sint suscipit tempore veniam vero vitae! Consectetur corporis ducimus eligendi ex
  excepturi nisi provident repudiandae sed sint totam. Ab consectetur doloremque esse iste officiis quod vel
  voluptatum. Error iusto nostrum tenetur veritatis. Adipisci aliquid assumenda blanditiis consectetur corporis cum
  cumque dicta eaque expedita facere, harum impedit in ipsam iure iusto labore, laborum nam officiis quod, repellendus
  rerum voluptas voluptates voluptatibus. Aliquid amet aperiam aspernatur corporis, debitis dignissimos eius esse
  eveniet excepturi harum magnam magni minima molestias neque nulla optio porro, quibusdam quod reprehenderit saepe
  soluta sunt tempora, tempore unde voluptatem? Ad, aperiam consequuntur cumque exercitationem magnam obcaecati odit
  optio porro sint temporibus! Ab autem, cum cumque cupiditate deleniti dignissimos dolores eligendi error eum eveniet
  excepturi exercitationem harum illo illum ipsa iusto molestiae necessitatibus non odit, officia officiis, quia
  quidem quo reprehenderit soluta sunt tempora tenetur unde vel veniam! Amet atque dicta ea eos hic, ipsum molestias
  mollitia nemo quia totam. Enim repellat sequi unde? Accusamus, autem, delectus deleniti deserunt dignissimos fuga
  fugit id laborum laudantium maiores modi porro quisquam quos rem sed, veniam voluptatem. Asperiores cupiditate
  dolores eveniet, libero nihil pariatur perspiciatis voluptate? A accusamus ad aliquam, assumenda autem blanditiis
  cum cupiditate error facere id officiis quos recusandae rem repudiandae sint suscipit tempora tempore temporibus
  tenetur voluptas. Accusantium doloribus eos eveniet exercitationem expedita harum ipsa laboriosam, laborum nam nobis
  non nulla rerum tempore ullam voluptas. Atque et, eveniet explicabo facilis obcaecati praesentium? Accusantium amet,
  aspernatur dolorum esse exercitationem inventore maxime nobis non nostrum provident, quidem rem sequi sint, tempora
  velit vero voluptas? A aliquid amet, architecto excepturi exercitationem impedit molestias officiis optio quaerat
  ratione recusandae reiciendis suscipit vero voluptate voluptates! Accusantium assumenda incidunt tempore. Architecto
  culpa eius et, eum illo in iste molestiae officia porro voluptates. Aliquam aliquid architecto at eum eveniet
  exercitationem fuga iure laudantium modi necessitatibus nemo nostrum odit optio possimus quibusdam repellat rerum
  similique, ullam vel voluptatum. Ab adipisci alias amet animi asperiores aspernatur autem consequatur cumque dicta
  earum enim expedita facilis labore laborum magnam modi non, odio, officia perspiciatis praesentium quam, quidem
  ratione reiciendis rem repellendus repudiandae sed sint tempore veniam voluptatem? A adipisci architecto atque
  beatae, dolore earum explicabo fugiat hic illum ipsum laudantium minima molestias necessitatibus nesciunt,
  perferendis praesentium provident quidem quis sint tempore tenetur totam ullam ut veniam veritatis vero vitae,
  voluptatem?
</div>