<div class="form-field {{field-class}}">
  {{#if label }}
    <label for="" class="form-label {{label-class}}">{{label}}</label>
  {{/if}}

  {{#if select}}
    <select class="js-dropdown-box" {{#if placeholder}}data-placeholder="{{placeholder}}"{{/if}}>
        <option value="1">Sed ut perspiciatis</option>
        <option value="2">Nemo enim ipsam</option>
        <option value="3">Et harum quidem</option>
        <option value="4">Temporibus autem</option>
        <option value="5">Itaque earum rerum</option>
        <option value="6">Sed ut perspiciatis</option>
        <option value="7">Nemo enim ipsam</option>
        <option value="8">Et harum quidem</option>
        <option value="9">Temporibus autem</option>
        <option value="10">Itaque earum rerum</option>
    </select>
  {{else}}
    {{#if textarea}}
      <textarea class="form-area {{area-class}}"
        {{#if placeholder}}placeholder="{{placeholder}}" {{/if}}
        {{#if disabled}}disabled{{/if}}></textarea>

    {{else}}
      <input
             class="form-input {{input-class}}"
        {{#if type}}type="{{type}}" {{/if}}
        {{#if placeholder}}placeholder="{{placeholder}}" {{/if}}
        {{#if value}}value="{{value}}" {{/if}}
        {{#if disabled}}disabled{{/if}} />
    {{/if}}

    {{#if error}}
      <span class="form-message">Error Error</span>
    {{/if}}
  {{/if}}
</div>