<div class="slider">
    <p class="slider__title">Sed ut perspiciatis, unde omnis iste natus:
        <span class="slider__value"> <span class="slider__num">{{value}}</span>%</span>
    </p>
    <input type="range" min="1" max="100" value="{{value}}" class="slider__range" id="myRange">
</div>