.footer {
  background: $bg-color;

  &__inner {
    padding-top: 31px;
    padding-bottom: 29px;
  }
  &__wrap {
    @include no-mobile() {
      @include flex();
    }
    @include tablet() {
      flex-wrap: wrap;
    }
  }
  &__copy {
    font-size: 13px;
    margin-bottom: 0;
    width: 31%;
    color: #ffffff;

    @include small-desktop() {
      flex-grow: 1;
      width: 28%;
      padding-right: 5px;
    }

    @include tablet-and-phone() {
      margin-top: 10px;
      width: 100%;
      order: 1;
    }

    @include mobile(){
      text-align: center;
      padding-bottom: 20px;
    }

    span {
      text-transform: uppercase;
    }
  }

  &__pay {
    @include flex(center);
    @include desktop() {
      width: 41%;
      border-right: 1px solid #ffffff;
      border-left: 1px solid #ffffff;
    }

    @include small-desktop() {
      border-left: 1px solid #ffffff;
    }
    @include mobile() {
      flex-direction: column;
    }

  }

  &__contacts {
    @include no-mobile() {
      @include flex(flex-end);
    }

    @include desktop() {
      width: 28%;
    }

  }

  .pay {
    &__item {

      @include desktop() {
        padding: 0 24px;
      }

      @include small-desktop() {
        padding: 0 16px;
      }

      @include tablet() {
        margin-right: 16px;
      }
      @include mobile(){
        padding-bottom: 10px;
      }
    }
  }
  .link {
    @include regular();
    @include flex();

    &__icon {
      width: 15px;
      height: 15px;
      margin-right: 9px;
    }

    &__text {
      font-size: 13px;
      color: #ffffff;
      margin-bottom: 0;
      white-space: nowrap;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .contacts {
    @include flex(flex-end);
    @include mobile() {
      flex-direction: column;
    }
    &__item {
      @include desktop() {
        margin-right: 36px;
      }

      @include small-desktop() {
        padding: 0 16px;
      }

      @include tablet() {
        margin-right: 16px;
      }

      @include no-mobile(){
        &:last-child {
          margin-right: 0;
        }
      }

      @include mobile(){
        padding-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }


    }
  }
}
