.header {
  background: rgba(16, 16, 29, .9);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;

  &__inner {
    padding-top: 36px;
    padding-bottom: 36px;

    @include desktop() {
      padding-top: 36px;
      padding-bottom: 36px;
    }

    @include small-desktop() {
      padding-top: 26px;
      padding-bottom: 26px;
    }
    @include tablet-and-phone() {
      padding-top: 26px;
      padding-bottom: 26px;
    }

    @include flex(space-between);
  }

  &__nav {
    @include mobile() {
      display: none;
    }
  }

  &__sidr {
    @include no-mobile() {
      display: none;
    }
  }

  .icon {
    &-menu {
      fill: #ffffff;
    }
  }
}
.logo {
  &__link {
    @include r-black();
    line-height: 1;
    color: white;
    text-transform: uppercase;

    @include no-mobile() {
      font-size: 28px;
    }
    @include mobile() {
      font-size: 20px;
    }

    &:hover{
      color: white;
    }
    span {
      color: $primary-color;
    }
  }
}
#sidr-top {
  &.sidr {
    background: rgba(16, 16, 29, .9);
  }

  .sidr {

    &__head{
      @include flex(space-between);
      justify-content: space-between;
      padding: 31px 0;
    }
  }

  .icon {
    &-close {
      width: 25px;
      height: 25px;
      fill: #ffffff;
    }
  }
}

