<div class="main">
    <div class="main__inner">
        <div class="main__wrap container">
            <h1 class="main__title"> <span>Lorem ipsum</span> dolor sit amet consectetur <span>adipiscing</span></h1>
                <div class="main__descr">
                    <h2 class="main__subtitle">At vero eos et accusamus et iusto odio dignissimos ducimus!</h2>
                    <ul class="main__list">
                        <li class="main__item">- Totam rem aperiam eaque ipsa</li>
                        <li class="main__item">- Sit voluptatem accusantium doloremque laudantium</li>
                        <li class="main__item">- Sed ut perspiciatis, unde omnis iste natus error</li>
                    </ul>
                </div>
                <div class="main__action">
                    <button class="btn btn-primary">Заказать</button>
                    <button class="btn btn-outline-primary">Подробнее</button>
                </div>
        </div>
    </div>
</div>