<nav class="nav {{nav-class}}">
  <ul class="nav__list">
      <li class="nav__item">
          <a href="#" class="nav__link">Бизнес</a>
      </li>
      <li class="nav__item">
          <a href="#" class="nav__link">О нас</a>
      </li>
      <li class="nav__item">
          <a href="#" class="nav__link">цены</a>
      </li>
      <li class="nav__item">
          <a href="#" class="nav__link">Оформить заказ</a>
      </li>
  </ul>
</nav>