<div class="order">
    <div class="order__inner">
        <div class="container">
            <h2 class="order__title">Оформление <span>Заказа</span></h2>
            <p class="order__descr">Перед заполнением формы ознакомьтесь с нашей схемой работы!</p>
            <div class="order__wrap">
                <div class="order__items">
                    <div class="order__item step">
                        <div class="step__icon">
                            <svg class="icon icon-search"> <use xlink:href="../content/images/order/search.svg#search"></use></svg>
                        </div>
                        <p class="step__text">Lorem ipsum dolor <span>sit amet</span></p>
                    </div>

                    <div class="order__item step">
                        <div class="step__icon">
                            <svg class="icon icon-percent"> <use xlink:href="../content/images/order/percent.svg#percent"></use></svg>
                        </div>
                        <p class="step__text">Сonsecteturad ipiscing elit</p>
                    </div>
                    <div class="order__item step">
                        <div class="step__icon">
                            <svg class="icon icon-file-add"> <use xlink:href="../content/images/order/file-add.svg#file-add"></use></svg>
                        </div>
                        <p class="step__text">Sed do eiusmod tempor</p>
                    </div>
                    <div class="order__item step">
                        <div class="step__icon">
                            <svg class="icon icon-mail"> <use xlink:href="../content/images/order/mail.svg#mail"></use></svg>
                        </div>
                        <p class="step__text">Esse cillum dolore <span>eu fugiat</span></p>
                    </div>
                    <div class="order__item step">
                        <div class="step__icon">
                            <svg class="icon icon-money"> <use xlink:href="../content/images/order/money.svg#money"></use></svg>
                        </div>
                        <p class="step__text">Excepteur sint occaecat <span>cupidatat non proident</span></p>
                    </div>
                </div>
                <form class="order__form form">
                    <div class="order__fields">
                        <div class="form__row">
                            <div class="form__col _col3">
                                {{> ui/input select=1 placeholder='Выберите тип системы'}}
                            </div>
                            <div class="form__col _col3">
                                {{> ui/input type="email" placeholder='Ваш e-mail'}}
                            </div>
                            <div class="form__col _col3">
                                {{> ui/input type="text" placeholder='Ваше имя'}}
                            </div>
                            <div class="form__col _col6">
                                {{> ui/slider value=75}}
                            </div>
                            <div class="form__col _col3">
                                <div class="form__file btn btn-secondary">
                                    {{> ui/input type="file" placeholder='Ваше имя'}}
                                    {{> ui/svg type="file" name='file'}}
                                    <span>Прикрепить файл</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form__action">
                        <button class="form__btn btn btn-primary">Отправить</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>