{{![:ru]Ui элементы[:en]Ui toolkit}}

{{> layout/head ui=1}}

<section class="ui">
  <header class="ui__title">
    <h1>UI Toolkit</h1>
  </header>

  <main class="ui__container">
    <aside class="ui__aside">
      <nav class="aside__inner">
        <ul class="aside__nav">
          <li>
            <button class="_link" data-id="ui-colors">Colors</button>
          </li>
          <li>
            <button class="_link" data-id="ui-buttons">Buttons</button>
          </li>
          <li>
            <button class="_link" data-id="ui-buttons-outline">Buttons Outline</button>
          </li>
          <li>
            <button class="_link" data-id="ui-buttons-sizes">Buttons Sizes</button>
          </li>
          <li>
            <button class="_link" data-id="ui-buttons-disabled">Buttons Disabled</button>
          </li>
          <li>
            <button class="_link" data-id="ui-buttons-icons">Buttons Icons</button>
          </li>
          <li>
            <button class="_link" data-id="ui-form">Forms</button>
          </li>
          <li>
            <button class="_link" data-id="ui-loader">Loader</button>
          </li>
          <li>
            <button class="_link" data-id="ui-loader-empty">Loader Empty</button>
          </li>
        </ul>
      </nav>
    </aside>
    <section class="ui__main">
      {{> blocks/ui-section-start title='Colors' id='ui-colors'}}

      <div class="ui__colors">
        <div class="_item" style="background-color: #42a9ed;">
          <span>#42a9ed</span>
        </div>
        <div class="_item" style="background-color: #272733;">
          <span>#272733</span>
        </div>
        <div class="_item" style="background-color: #2a2b30;">
          <span>#2a2b30</span>
        </div>
        <div class="_item" style="background-color: #10101d;">
          <span>#10101d</span>
        </div>
        <div class="_item" style="background-color: #dfdfe0;">
          <span>#dfdfe0</span>
        </div>
      </div>

      {{> blocks/ui-section-end}}

      {{> blocks/ui-section-start title='Buttons' id='ui-buttons'}}

      <div class="btn-list">
        <div class="btn-list__item">
          <button class="btn btn-primary">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-secondary">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-primary btn-loading">Button</button>
        </div>
      </div>

      {{> blocks/ui-section-end}}

      {{> blocks/ui-section-start title='Buttons Outline' id='ui-buttons-outline'}}

      <div class="btn-list">
        <div class="btn-list__item">
          <button class="btn btn-outline-primary">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-outline-secondary">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-outline-primary btn-loading">Button</button>
        </div>
      </div>

      {{> blocks/ui-section-end}}

      {{> blocks/ui-section-start title='Buttons Sizes' id='ui-buttons-sizes'}}

      <div class="btn-list">
        <div class="btn-list__item">
          <button class="btn btn-primary btn-lg">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-primary btn-small">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-primary btn-lg btn-loading">Button</button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-primary btn-small btn-loading">Button</button>
        </div>
      </div>

      {{> blocks/ui-section-end}}

      {{> blocks/ui-section-start title='Buttons Disabled' id='ui-buttons-disabled'}}

      <div class="btn-list">
        <div class="btn-list__item">
          <button class="btn btn-primary" disabled>Button</button>
        </div>

        <div class="btn-list__item">
          <a href="#" class="btn btn-primary disabled">Button</a>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-outline-primary" disabled>Button</button>
        </div>

        <div class="btn-list__item">
          <a href="#" class="btn btn-outline-primary disabled">Button</a>
        </div>
      </div>

      {{> blocks/ui-section-end}}

      {{> blocks/ui-section-start title='Buttons Icons' id='ui-buttons-icons'}}

      <div class="btn-list">
        <div class="btn-list__item">
          <button class="btn btn-primary">
            {{> ui/svg name='btn-user'}}
            <span>Button</span>
          </button>
        </div>

        <div class="btn-list__item">
          <button class="btn btn-primary">
            <span>Button</span>
            {{> ui/svg name='btn-arrow'}}
          </button>
        </div>
      </div>

      {{> blocks/ui-section-end}}

      {{> blocks/ui-section-start title='Forms' id='ui-forms'}}


      <div class="row">
        <div class="col-md-6">
          {{> ui/input label='Example label'  placeholder='Input disabled' disabled=1}}
        </div>

        <div class="col-md-6">
          {{> ui/input label='Example label' select=1 placeholder='Choose any one'}}
        </div>
      </div>

      {{> blocks/ui-section-end}}


      {{> blocks/ui-section-start title='Loader' id='ui-loader'}}

      <div class="loader">
        <div class="loader__circle">Loading...</div>

        <div class="row">
          <div class="col-md-6">
            {{> ui/input label='Example label' placeholder='Input placeholder'}}
          </div>

          <div class="col-md-6">
            {{> ui/input label='Example label' input-class='form-error' error=1}}
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            {{> ui/input label='Example label'  placeholder='Input disabled' disabled=1}}
          </div>

          <div class="col-md-6">
            {{> ui/input label='Example label' select=1 placeholder='Choose any one'}}
          </div>
        </div>
      </div>

      {{> blocks/ui-section-end}}

      {{> blocks/ui-section-start title='Loader Empty' id='ui-loader-empty'}}

      <div class="loader loader--trans">
        <div class="loader__circle">Loading...</div>
      </div>

      {{> blocks/ui-section-end}}
    </section>
  </main>
</section>


<script>
  window.onload = () => {
    const $btn = $('.aside__nav').find('._link');

    $btn.on('click', function () {
      const id = $(this).data('id');

      $('html, body').animate({
        scrollTop: $(`#${id}`).offset().top
      }, 600);
    });
  };
</script>

{{> layout/bottom }}
