.dropdown {
  position: relative;

  &__header {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    height: 47px;
    border-radius: 3px;
    overflow: hidden;

    &--placeholder {
      .dropdown__text {
        color: $dark-color;
        font-size: 18px;
      }
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    right: 10px;
    @include sprite('btn-arrow-d');
    z-index: 1;
  }

  &__text {
    display: block;
    padding: 12px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    font-size: 18px;
    color: $dark-color;

    background: $secondary-color;
  }

  &__box {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.25), 0 0 1px 0 rgba(0, 0, 0, 0.25);
    overflow: auto;
    z-index: 1;
    background-color: rgba(39, 39, 51, 0.902);
    max-height: 150px;

    div {
      display: block;
      white-space: nowrap;

      a {
        display: block;
        color: white;
        text-transform: none;
        line-height: 30px;
        font-size: 14px;
        padding: 0 10px;

        &:hover {
          color: #000;
          background-color: #f1f2f5;
        }
      }
    }
  }

  ::-webkit-scrollbar {
    width: 7px;
    border-radius: 3px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgb(61, 64, 80);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: rgb(62, 156, 220);
    border-radius: 3px;

  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.opened {
  z-index: 2;
  .dropdown {

    &__arrow {
      @include sprite('btn-arrow-dw');
    }
    &__header {
      //border: 1px solid rgb(61, 64, 80);
    }

    &__text {
      color: #ffffff;
      background-color: rgb(61, 64, 80);
    }

  }
}